allow init adsprpcd_file:filesystem { relabelto relabelfrom mount };
allow init proc:file { open read getattr};
allow init sysfs:file setattr;
allow init vendor_file:file execute_no_trans;
allow init servicemanager:binder { call transfer };
allow init gx_fpd_device:chr_file { write ioctl };
allow init default_android_service:service_manager { add find };
allow init tee_device:chr_file { read open write ioctl };
allow init hwservicemanager:binder { call transfer };
allow init vfat:dir search;
allow init vfat:file { read open write getattr };
#allow init incident_helper_exec:file getattr;
allow init dex2oat_exec:file getattr;
allow init ppp_exec:file getattr;
allow init dex2oat_exec:file getattr;
allow init runas_exec:file getattr;
allow init sdcardd_exec:file getattr;
allow init dnsmasq_exec:file getattr;
allow init clatd_exec:file getattr;
#allow init dexoptanalyzer_exec:file getattr;
#allow init blkid_exec:file getattr;
allow init system_app_data_file:dir getattr;
allow init app_data_file:dir getattr;
#allow init perfetto_exec:file getattr;
#allow init bpfloader_exec:file getattr;
allow init ion_device:chr_file { ioctl read open };
allow init device:chr_file { ioctl read write open };
allow init system_server:binder { call transfer };
allow init system_data_file:file getattr;
allow init system_file:file { relabelfrom relabelto };
allow init init:binder { call transfer };
