allow mm-qcamerad servicemanager:binder call;
allow mm-qcamerad camera_data_file:dir search;
allow mm-qcamerad sensorservice_service:service_manager find;
allow mm-qcamerad system_server:unix_stream_socket { read write };
allow mm-qcamerad default_prop:property_service set;
