# /data/goodix labeling
type_transition tee system_data_file:{ dir file } gx_fpd_data_file;

allow tee gx_fpd_data_file:dir r_dir_perms;
allow tee gx_fpd_data_file:file { r_file_perms create read open write };
allow tee system_data_file:dir create_dir_perms;

allow tee fingerprintd_data_file:file { create read open write unlink };
allow tee fingerprintd_data_file:dir { create read open write search add_name remove_name };
allow tee rootfs:dir { read open write search };
