allow untrusted_app sysfs:dir { read open };
allow untrusted_app rootfs:dir { read open };
allow untrusted_app debugfs:dir { read open };
allow untrusted_app init_exec:file getattr;
allow untrusted_app rootfs:file getattr;
allow untrusted_app tombstone_data_file:dir { getattr search };
allow untrusted_app sysfs_power:file getattr;
allow untrusted_app sysfs:file { read open getattr };
allow untrusted_app mnt_vendor_file:dir search;
allow untrusted_app file_contexts_file:file getattr;
allow untrusted_app hwservice_contexts_file:file getattr;
allow untrusted_app seapp_contexts_file:file getattr;
#allow untrusted_app smd7_device:chr_file getattr;
allow untrusted_app smd_device:chr_file getattr;
allow untrusted_app adbd_exec:file getattr;
#allow untrusted_app atrace_exec:file getattr;
#allow untrusted_app audioserver_exec:file getattr;
#allow untrusted_app blank_screen_exec:file getattr;
#allow untrusted_app blkid_exec:file getattr;
allow untrusted_app sysfs_zram:dir { read open };
allow untrusted_app sysfs_wake_lock:file getattr;
allow untrusted_app sysfs_kernel_notes:file getattr;
allow untrusted_app device:dir { read open };
allow untrusted_app device:file { read open getattr };
allow untrusted_app device:chr_file { read open getattr };
allow untrusted_app vndservice_contexts_file:file getattr;
allow untrusted_app nonplat_service_contexts_file:file getattr;
allow untrusted_app sepolicy_file:file getattr;
allow untrusted_app service_contexts_file:file getattr;
allow untrusted_app mnt_vendor_file:dir getattr;
allow untrusted_app cgroup:dir { read open };
allow untrusted_app mnt_media_rw_file:dir getattr;
allow untrusted_app mnt_product_file:dir getattr;
allow untrusted_app tmpfs:dir { read open write };
allow untrusted_app video_device:chr_file getattr;
allow untrusted_app proc:file getattr;
#allow untrusted_app proc_sysreq:file getattr;
allow untrusted_app proc_diskstats:file getattr;
allow untrusted_app proc_tty_drivers:file { read open };
allow untrusted_app serialno_prop:file { read open };
